body {
  font-family: 'Nunito';
}

.smalltext {
  font-size: 0.8em;
}

.bigtext {
  font-size: 1.6em;
}

.badgetext {
  display: inline;
  border-radius: 50px;
}

.borderblanc75 {
  border-color: rgba(255, 255, 255, 0.225) !important;
}

.separator {
  z-index: 1;
  position: relative;
  width: 100vw;
  height: 100px;
  padding: 0;
  margin-top: -1px;
  margin-bottom: -1px;
}

.separator::before {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100vw;
  height: 100px;
  background-color: #038AFF;
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
}

.sep2::before {
  background-color: #FAFCFF;
}

.sep3::before {
  background-color: white;
}

.separator::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100vw;
  height: 100px;
  background-color: white;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.sep3::after {
  background-color: #151248;
}

.section1 {
  background-color: #038AFF;
  height: 85vh;
}

.section1 .section1col2 {
  z-index: 12;
  border-radius: 10px 10px 100px 10px;
}

.section1 .section1col2 .bg-mauve {
  background-color: #1F1347;
}

.section2 .projects {
  margin-top: 100px;
}

.section2 .projects .progress {
  height: 2px;
}

.section2 .section2absolu {
  position: absolute;
  background-image: url(img/img_01.jpg);
  background-size: cover;
  height: 300px;
  width: 400px;
  right: -80px;
  top: -30px;
}

.section2 h2 {
  line-height: 1.5em;
}

.section3 .badgefeatures {
  background-color: #5CCAA7;
}

.section3 h6 {
  line-height: 1.7em;
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 0.5px;
}

.section3 .bi-check-square-fill, .section3 p {
  color: #5CCAA7;
}

.section3 .section3col2 {
  background-image: url(img/img_02.jpg);
  background-size: cover;
  height: 400px;
}

.section4 .jh {
  padding: 9px 12px;
  border-radius: 100px;
  margin: 15px;
  width: 40px;
  height: 40px;
}

.section4 .name {
  margin-bottom: 0;
  font-weight: 600;
}

.section4 .check {
  font-size: 35px;
  color: #5CCAA7;
  margin: 20px;
}

.section5 .bg-black {
  background-color: black;
}

.section5 .bg-black .logo {
  font-size: 30px;
}

.section5 .section5col2 {
  background-image: url(img/img_03.jpg);
  background-size: cover;
  height: 400px;
}

.section6 {
  background-color: #171248;
  padding: 80px;
  border-radius: 0 40px 0px 100px;
}

.section7 {
  background-color: #FAFCFF;
}

.section7 .vignette:hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.section7 .vignette {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.section7 .awardstext {
  font-size: 0.9em;
}

.section7 a {
  text-decoration: none;
  color: black;
  padding-bottom: 6px;
}

.section7 a.learn {
  border-bottom: 2px solid black;
}

.sectionfooter {
  background-color: #151248;
}

.sectionfooter a, .sectionfooter .odoodescription {
  color: rgba(255, 255, 255, 0.611);
}
/*# sourceMappingURL=style.css.map */